<section class="blogpost border">
    <a class="blogAnchor" href="/blog/{{id}}" data-id="{{id}}">
        <div class="blogpost_header">
            <h2 class="blogpost_title">{{title}}</h2>
            <div>
                <p>{{date}}</p>
                <p>{{user.username}} </p>
            </div>
        </div>
        <div>
            <p>{{text}}</p>
        </div>
    </a>
</section>