<section class="comment borderSmall">
    <a class="commentAnchor" data-id="{{id}}">
        <div class="comment_header">
            <h3 class="comment_title">{{title}}</h3>
            <div>
                <p>{{date}}</p>
                <p>{{user.username}}</p>
            </div>
        </div>
        <div>
            <p>{{text}}</p>
        </div>
    </a>
</section>

